@font-face {
  font-family: "almas";
  src: url("../font/almas.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.logo-image{
    height: 100%;
    max-height: 40px;
    width: auto;
    display: block;
}

.navbar{
    direction: ltr;
    align-items: center;
    height: 60px;
    display:flex;
    justify-content: space-between;
    background-color: #d1d0e0;
    border-radius: 20px;
}

.navlink{
    margin: 0;          
    padding: 0 15px;   
    display: flex;
    align-items: center; 
    width: 22%;
    justify-content: space-between;
}

.navlink li{
    list-style: none;
}

.navlink a{
    color: #126b6e;
    text-decoration: none;
    
}
.navlink a:hover{
    color: #2a3f3b;
}

.container{
    display: flex;
    flex-direction: row-reverse;
    
}

.container .about{
    display: flex;
    color: #043638;
    padding: 15px;
    background-color: #fff3f3;
    border-radius: 15px;
    margin: 15px 10px;
    
}

.sidebar{
    text-align: center;
    padding: auto;
    display: flex;
    background-color: #fff3f3;
    border-radius: 15px;
    margin: 15px 10px;
    flex-direction: column;
    align-items: center;
    width: 18%;
    
}

.sidebar ul{
    padding: 0;
    margin: 0;
}

.sidebar li{
    list-style: none;
 
}

.sidebar a{
    color: #126b6e;
    text-decoration: none;
    
}
.sidebar a:hover{
    color: #2a3f3b;
}

body{
    direction: rtl;
    background-image:url(../images/bg16.jpeg);
    background-attachment: fixed;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "almas", sans-serif;
    font-size: 16px;
}


